{% extends "public/templates/public_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Zařízení - nové zařízení
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Zařízení</h1>
            <p><a href="{{ url_for('device_add') }}">Nové zařízení</a></p>
            <p><a href="{{ url_for('device_list') }}">Aktivní zařízení (seznam)</a></p>
            <hr>

            {% if message %}
            <!-- the form was submitted and message exists -->
            <p class="lead"><strong>{{ message }}</strong></p>
            {% if item_status == False %}
            <p><a href="{{ url_for('device_list', filters='inactive') }}">Zpět na seznam neaktivních zařízení</a></p>
            {% else %}
	  		<p><a href="{{ url_for('device_list') }}">Zpět na seznam aktivních zařízení</a></p>
            {% endif %}

            {% else %}
            <!-- the form is displayed when template opens via GET not POST -->
            <h4>{{ form1.submit.label }}</h4>
            {% with errors = get_flashed_messages() %}
            {% if errors %}
            {% for err in errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                {{ err }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {{ wtf.quick_form(form1, button_map={'submit': 'primary'}) }}

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}